.headerIMG2 {
  background-image: url("../../../../app/assets/twoBGimage.svg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100%;
}

/* Overlay using ::before pseudo-element */
.headerIMG2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4); /* Adjust alpha for opacity */
}
