.first {
  background-color: hsla(231, 29%, 55%, 0.102);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100%;
}

/* rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) */

/* hsla(232, 100%, 15%, 0.1) */
